services:
  # ---------------------
  # Postgres service
  # ---------------------
  postgres:
    image: "postgres:16.5"
    deploy:
      restart_policy:
        condition: on-failure
    environment:
      POSTGRES_USER: "postgres"
      POSTGRES_PASSWORD: "admin"
      POSTGRES_DB: "hawkbit"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -d ${POSTGRES_DB} -U ${POSTGRES_USER}"]
      interval: 20s
      retries: 10

  # ---------------------
  # RabbitMQ service
  # ---------------------
  rabbitmq:
    image: "rabbitmq:4-management-alpine"
    hostname: "rabbitmq"
    environment:
      RABBITMQ_DEFAULT_VHOST: "/"
      RABBITMQ_DEFAULT_USER: "guest"
      RABBITMQ_DEFAULT_PASS: "guest"
    deploy:
      restart_policy:
        condition: on-failure

  # ---------------------
  # HawkBit service
  # ---------------------
  hawkbit:
    image: "hawkbit/hawkbit-update-server:0.9.0"
    environment:
        SPRING_APPLICATION_JSON: '{
        "server.forward-headers-strategy": "native",
        "spring.main.allow-bean-definition-overriding": true,
        "spring.profiles.active": "postgresql",
        "spring.datasource.url": "jdbc:postgresql://postgres:5432/hawkbit",
        "spring.datasource.username": "postgres",
        "spring.datasource.password": "admin",
        "spring.rabbitmq.host": "rabbitmq",
        "spring.rabbitmq.port": 5672,
        "spring.rabbitmq.username": "guest",
        "spring.rabbitmq.password": "guest",
        "spring.rabbitmq.virtual-host": "/",
        "hawkbit.server.ddi.security.authentication.anonymous.enabled": false,
        "hawkbit.server.ddi.security.authentication.targettoken.enabled": true,
        "hawkbit.server.ddi.security.authentication.gatewaytoken.enabled": true,
        "hawkbit.server.controller.security.rp.enabled": true,
        "hawkbit.server.controller.security.rp.cnHeader": "X-Ssl-Client-Cn",
        "hawkbit.server.controller.security.rp.sslIssuerHashHeader": "X-Ssl-Issuer-Hash-1",
        "hawkbit.server.controller.pollingTime": "00:00:30",
        "hawkbit.server.ddi.security.authentication.header.enabled": true,
        "hawkbit.server.ddi.security.authentication.header.authority": "Hawkbit",
        "hawkbit.server.repository.publish-target-poll-event": false,
        "hawkbit.security.user.admin.password": "{noop}12345678",
        "hawkbit.security.user.admin.firstname": "Eclipse",
        "hawkbit.security.user.admin.lastname": "HawkBit",
        "hawkbit.security.user.admin.email": "mbs-linux@test.pl",
        "hawkbit.security.user.admin.permissions": "ALL",
      }'
    volumes:
      - artifactrepo:/app/artifactrepo
    restart: always
    ports:
      - "8090:8080"
    depends_on:
      postgres:
        condition: service_healthy
    labels:
      NAME: "hawkbit"

  # ---------------------
  # HawkBit Simple UI service
  # ---------------------
  hawkbit-simple-ui:
    image: "hawkbit/hawkbit-simple-ui:0.9.0"
    environment:
      - 'SPRING_APPLICATION_JSON={"hawkbit.server.mgmtUrl": "http://hawkbit:8080"}'
    restart: always
    ports:
      - 8088:8088
    labels:
      NAME: "hawkbit-simple-ui"

volumes:
  artifactrepo:
    driver: local