version: '3.8'
services:
  nginx:
    image: nginx:alpine
    restart: unless-stopped
    ports:
      - '80:80'   # HTTP
      - '443:443' # HTTPS
    volumes:
      - ./default.conf:/etc/nginx/conf.d/default.conf:ro
      - ./certificate/:/etc/nginx/certificate/:ro